# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/buy-and-sell/node_modules
/buy-and-sell-backend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/buy-and-sell/.vscode/*
/buy-and-sell/!.vscode/settings.json
/buy-and-sell/!.vscode/tasks.json
/buy-and-sell/!.vscode/launch.json
/buy-and-sell/!.vscode/extensions.json
/buy-and-sell/.history/*

# Miscellaneous
/buy-and-sell/.angular/cache
/buy-and-sell-backend/y
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/buy-and-sell-backend/credentials.json

# System files
.DS_Store
Thumbs.db
